* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.social
{
position: static;
display: flex;
margin-top: auto;
margin-bottom: auto;
margin-left: 15%;
margin-right: 50%;
}

.fa-github {
 color: black;
}
.fa-instagram {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-facebook-f {
  color: #4267B2;
}
.fa-linkedin-in {
  color: #2867B2;
}
.social i
{
padding:20px;
font-size: 70px;
}
.social i:hover {
  font-size: 80px;
  transition: all 0.1s ease-out;
}

/* For Home page */
.condiv
{
padding: 70px ;
background-color: #ffffff;
flex:var(--condiv-flex);
}

.condiv_home {
  max-width: 90%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.HomeText {
  margin-top:5%;
}
.child {
  width: 100%;
  background: white;
  color: grey;
  margin: 0 .5em;
  padding: .5em;
  /* important */
  min-height: 100%;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.ProfilePic {
  max-width: 80%;
  height: auto;
  border-radius: 20px;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
}

/* For the About page*/
.subtopic
{
margin:10px 10px 30px 10px !important;
}
p
{
font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p
{
margin: 10px;
}


@media screen and (max-width: 960px){
  .ProfilePic {
    max-width: 100%;
    height: auto;
  }

  .social {
    margin-left: 5%;
  }
  .social i {
    font-size: 40px;
  }

  .social i:hover {
    font-size: 45px;
  }
}