* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.social
{
position: static;
display: flex;
margin-top: auto;
margin-bottom: auto;
margin-left: 15%;
margin-right: 50%;
}
.social i
{
padding-right: 40px;
font-size: 80px;
color: #9a9b9c;
}
.social i:hover
{
color: #504e4e;
}
/* For Home page */
.condiv
{
padding: 70px ;
background-color: #ffffff;
flex:var(--condiv-flex);
}

.condiv_home {
  max-width: 80%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.child {
  width: 100%;
  background: white;
  color: grey;
  margin: 0 .5em;
  padding: .5em;
  /* important */
  min-height: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.ProfilePic {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  margin-top: 10px;
}

/* For the About page*/
.subtopic
{
margin:10px 10px 30px 10px !important;
}
p
{
font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p
{
margin: 10px;
}


@media screen and (max-width: 960px){
  .ProfilePic {
    max-width: 100%;
    height: auto;
  }

  .social {
    margin-left: 35%;
  }
}